[submodule "3rdpart/magic_enum"]
	path = 3rdpart/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "3rdpart/semver"]
	path = 3rdpart/semver
	url = https://github.com/Neargye/semver
[submodule "3rdpart/SingleApplication"]
	path = 3rdpart/SingleApplication
	url = https://github.com/itay-grudev/SingleApplication
[submodule "3rdpart/WinToast"]
	path = 3rdpart/WinToast
	url = https://github.com/mohabouje/WinToast
