pkgbase = across-dev-git
	pkgdesc = The next GUI client for v2ray core (Development Branch)
	pkgver = 0.1.1.r693.c0d88ea
	pkgrel = 2
	url = https://github.com/ArkToria/ACross
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = clang
	makedepends = ninja
	makedepends = gcc
	makedepends = gtest
	depends = hicolor-icon-theme
	depends = qt6-base
	depends = qt6-svg
	depends = qt6-quickcontrols2
	depends = qt6-translations
	depends = qt6-tools
	depends = qt6-imageformats
	depends = qt6-5compat
	depends = qt6-shadertools
	depends = curl
	depends = fmt
	depends = grpc
	depends = nlohmann-json
	depends = protobuf
	depends = spdlog
	depends = zxing-cpp
	depends = clang
	optdepends = v2ray: use system v2ray core.
	optdepends = noto-fonts: default display fonts
	provides = across
	conflicts = across
	source = across-dev-git::git+https://github.com/ArkToria/ACross.git
	sha512sums = SKIP

pkgname = across-dev-git
