pkgbase = across-dev-git
	pkgdesc = The next GUI client for v2ray core (Development Branch)
	pkgver = 0.1.0.r156.eb75cd9
	pkgrel = 1
	url = https://github.com/Qv2ray/ACross
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	depends = hicolor-icon-theme
	depends = qt5-base
	depends = qt5-svg
	depends = qt5-quickcontrols2
	depends = qt5-graphicaleffects
	depends = qt5-imageformats
	depends = curl
	depends = fmt
	depends = grpc
	depends = jsoncpp
	depends = libsodium
	depends = protobuf
	depends = spdlog
	depends = sqlite
	depends = zxing-cpp
	optdepends = v2ray: use system v2ray core.
	source = across-dev-git::git+https://github.com/qv2ray/ACross.git
	sha512sums = SKIP

pkgname = across-dev-git
